body,html{
	width: 100%;
	height: 100%;
	font-family: 'Manrope' sans-serif;
	background: url(chair.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}


h1{
	font-size: 3rem;
    color: #78BFB1;
    text-align: center;
    font-family: muli;
}
hr{ 
	border-color:#5068D7;
	max-width: 65px;
    border-width: 3px;
	 

}
.btn{
	border-radius: 300px;
	border-color: orange;


}

.btn-primary{
	
	background-color: orange;
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
	padding: 1rem 1rem;
}

.btn-primary:hover{
	background-color: #C4F3A8;
	border-color: #26D790;
	border-width: 4px;
}
.buffer{
	height: 50px;
}
